/**
 * Module contains styled `H3` header.
 * @module shared/components/H3/index.pcss
 */

.nh-components-header-3 {
    @mixin fontSize $font-size-x-large, 1.1, $font-weight-bold;

    color: inherit;
}
