/**
 * Module contains Modal base classes.
 * @module shared/components/Modal/ModalBase.pcss
 */

.nh-components-modal-base {
    display: contents;

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 2px;
    }
}
