/**
 * Module contains styled `Strong` element.
 * @module shared/components/Strong/index.pcss
 */
@import './../../styles/fonts.pcss';

.paragraph {
    color: inherit;
    font-weight: $font-weight-bold;
}
