/**
 * Module contains styled elements.
 * @module ~/shared/components/Icon/index.pcss
 */

.nh-components-icon {
    position: relative;
    display: inline-block;

    > svg {
        @mixin centerAbsolute;
    }
}
