/**
 * Module contains styled `Spinner` element.
 * @module ~/shared/components/Spinner/index.pcss
 */

.nh-components-spinner {
    &--primary {
        path {
            fill: var(--promary-color);
        }
    }

    &--secondary {
        path {
            fill: var(--secondary-color);
        }
    }
}
