/**
 * Module header navigation styles.
 * @module widgets/Header/Notifications/index.styled
 */

.nh-widgets-header-notifications {
    position: relative;

    &__toggle {
        width: 28px;
        height: 28px;
        margin-left: 16px;
        padding: 2px;
    }
}
