/**
 * Module header navigation styles.
 * @module ~/features/Search/index.module.pcss
 */

.search {
    position: relative;
}

.search__toggle {
    width: 30px;
    height: 30px;
    margin-left: 18px;
    padding: 2px;

    @mixin media md-down {
        margin-left: 8px;
    }
}
