/**
 * Module header navigation styles.
 * @module widgets/Header/Search/index.styled
 */

.nh-widgets-header-search {
    position: relative;

    &__toggle {
        width: 28px;
        height: 28px;
        margin-left: 18px;
        padding: 2px;
    }
}
