/**
 * Module header navigation styles.
 * @module widgets/Header/Navigation/index.styled
 */

@import './../../../shared/styles/mixins.pcss';

.nh-widgets-header-navigation {
    @mixin justify-align-flex;

    margin: 0;
    padding: 0;

    &__element {
        display: block;
        margin-left: 18px;
        list-style-type: none;
    }
}
