/**
 * Module contains styled container.
 * @module @name ~/shared/components/Container/index.pcss
 */

@import './../../styles/mixins.pcss';


.nh-components-container {
    @mixin justify-align-flex;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: zIndex(layout, container);
    flex-direction: column;
}

