/**
 * Module contains wait screen component.
 * @module ~/widgets/ProfileUnlock/index.pcss
 */

@import './../../shared/styles/mixins.pcss';

.nh-widgets-wait-screen {
    @mixin centerAbsolute;

    &__avatar {
        @mixin centerAbsolute;

        max-width: 48px;
        height: 48px;
        border-radius: $border-radius;
    }
}
