/**
 * Module contains wait screen component.
 * @module ~/widgets/ProfileUnlock/index.module.pcss
 */

@import './../../shared/styles/mixins.pcss';

.wait-screen {
    @mixin centerAbsolute;
}

.wait-screen__avatar {
    @mixin centerAbsolute;

    max-width: 48px;
    height: 48px;
    border-radius: $border-radius;
}
