/**
 * Module contains styled `H2` header.
 * @module ~/shared/components/H2/index.pcss
 */

.nh-components-header-2 {
    @mixin fontSize $font-size-xx-large, 1.2, $font-weight-bold;

    color: inherit;
}
