/**
 * Module contains styled `P` element.
 * @module shared/components/P/index.pcss
 */

.nh-components-paragraph {
    @mixin fontSize $font-size-large, 1.2, $font-weight-light;

    color: inherit;
}
