/**
 * Module header navigation styles.
 * @module ~/features/Notifications/index.styled
 */

.notifications__toggle {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 16px;
    padding: 2px;

    @mixin media md-down {
        margin-left: 8px;
    }
}
