/**
 * Module contains Img classes.
 * @module shared/components/Img/index.pcss
 */

.nh-components-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &--rounded {
        border-radius: 50%;
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}
